/* Reset */
button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	padding: 0;
	appearance: none;
}

/* Table style */
.tbody-wrapper {
	height: 100px;
}
.tbody-wrapper::-webkit-scrollbar {
	width: 5px;
	height: 10px;
}
.tbody-wrapper::-webkit-scrollbar-track {
	background: #f1f1f1;
}
.tbody-wrapper::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 5px;
}
.tbody-wrapper::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* Functions style */
.functions {
	display: flex;
	padding: 0;
	margin: 0;
}
.function-item {
	display: flex;
	align-items: center;
	list-style: none;
	margin: 0 5px;
}
.function-item button {
	display: flex;
	padding: 0;
}
.function-item button a {
	display: flex;
	text-decoration: none;
}

/* Icon style */
.icon-default,
.icon-hover,
.icon-disable,
.icon-enable {
	font-size: 22px;
	color: #808080;
	opacity: 0.5;
}
.icon-hover {
	opacity: 0;
}
.icon-disable {
	visibility: hidden;
}
.icon-enable {
	opacity: 1;
}

/* Icon position */
.icon-default {
	position: relative;
}
.icon-hover,
.icon-disable,
.icon-enable {
	position: absolute;
}

/* Icon hover */
.icon-default:hover,
.icon-hover:hover {
	opacity: 1;
	transition: 0.5s;
}
.icon-danger:hover {
	color: red;
	transition: 0.5s;
}
