{% extends "base.html" %}
{% block title %}ToDoBot AI - ホーム{% endblock title %}

{% block main %}
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-8">

        <div class="row todo-create-form">
          <form class="col-auto" method="post">{% csrf_token %}
            <span class="col-auto">
              {{ form.title }}
            </span>
          </form>
          <button class="col-auto btn btn-primary" type="submit">追加</button>
        </div>

        <table class="table table-hover align-middle">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for todo in todo_lists %}
              <tr>
                <td>
                  <form method="post" action="{% url 'todo-check-toggle' todo.pk %}">{% csrf_token %}
                    <span id="todo-checkbox-{{ todo.pk }}">
                      <input type="checkbox" class="form-check-input" name="is_completed_{{ todo.pk }}" {% if todo.is_completed %} checked{% endif %}="checked{% endif %}">
                    </span>
                    <button class="btn btn-primary" type="submit">POST</button>
                  </form>
                </td>
                <td>
                  <span class="{% if todo.is_completed %}text-decoration-line-through{% endif %}" id="todo-title-{{ todo.pk }}">
                    {{ todo.title }}
                  </span>
                </td>
                <td>
                  <div class="row">
                    <button class="col-auto btn btn-secondary">
                      <a href="{% url 'todo-update' todo.pk %}">編集</a>
                    </button>
                    <form class="col-auto" method="post" action="{% url 'todo-delete' todo.pk %}">{% csrf_token %}
                      <button class="btn btn-danger" type="submit" onclick='return confirm("本当に削除しますか？");'>削除</button>
                    </form>
                  </div>
                </td>
              </tr>
              {% empty %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

{% endblock main %}
