{% extends "base.html" %}
{% block title %}ToDoBot AI - ホーム{% endblock title %}

{% block main %}
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-8">

        <div class="row todo-create-form pb-3">
          <form class="col-auto" method="post">{% csrf_token %}
            <span class="col-auto">
              {{ form.task_title }}
            </span>
          </form>
          <button class="col-auto btn btn-primary shadow-sm" type="submit">追加</button>
        </div>

        <table class="table table-hover align-middle shadow-sm">
          <thead>
            <tr>
              <th scope="col" style="width: 5%"></th>
              <th scope="col">タイトル</th>
              <th scope="col">期限日</th>
              <th scope="col">重要度</th>
              <th scope="col">優先度</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for todo in todo_list %}
              <tr>
                <td>
                  <form method="post" action="{% url 'todo-check-toggle' todo.pk %}">{% csrf_token %}
                    <span id="todo-status-{{ todo.pk }}">
                      <input type="checkbox" class="form-check-input" name="status_{{ todo.pk }}" {% if todo.status %} checked="checked" {% endif %}>
                    </span>
                  </form>
                </td>
                <td>
                  <span class="{% if todo.status %}text-decoration-line-through{% endif %}" id="todo-title-{{ todo.pk }}">
                    {{ todo.task_title }}
                  </span>
                </td>
                <td>
                  {{ todo.due_date }}
                </td>
                <td>
                  <input type="checkbox" class="form-check-input" name="important_{{ todo.pk }}" {% if todo.is_important %} checked="checked" {% endif %}>
                </td>
                <td>
                  {{ todo.get_priority_display }}
                </td>
                <td>
                  <ul class="functions">
                    <li class="functions-item">
                      <button class="btn btn-secondary">
                        <a href="{% url 'todo-update' todo.pk %}">編集</a>
                      </button>
                    </li>
                    <li class="functions-item">
                      <form method="post" action="{% url 'todo-delete' todo.pk %}">{% csrf_token %}
                        <button class="btn btn-danger" type="submit" onclick='return confirm("本当に削除しますか？");'>削除</button>
                      </form>
                    </li>
                  </ul>
                </td>
              </tr>
              {% empty %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

{% endblock main %}
