{% extends "base.html" %}
{% load static %}
{% block title %}ToDoBot AI - ホーム{% endblock title %}

{% block main %}
  <section class="pb-3 mx-5 mt-3">
    <div>
      <header class="d-flex align-items-center">
        <div class="toggle-menu">
          <button class="d-flex justify-content-center" id="sidebar_toggle">
            <i class='bx bx-menu icon-default'></i>
          </button>
        </div>
        <div class="fs-4 fw-bold flex-grow-1">INBOX</div>
      </header>
    </div>
    <div>
      <form method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-10 pe-0">
            <span>
              <input type="text" name="{{ form.task_title.html_name }}" class="form-control shadow-sm border border-0" placeholder="タスクを入力..." maxlength="255" autofocus="autofocus"/>
            </span>
          </div>
          <div class="col-2">
            <button class="btn btn-primary w-100 shadow-sm" type="submit">
              追加
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>
  <section class="flex-grow-1 mx-5 mb-3">
    <div class="table-container d-flex flex-column h-100 shadow-sm">
      <div class="tbody-wrapper m-0 flex-grow-1 overflow-y-auto">
        <table class="table table-hover align-middle m-0">
          <tbody>
            {% for todo in todo_list %}
              <tr>
                <td style="width: 5%">
                  <form method="post" action="{% url 'todo-item-post' task_id=todo.task_id %}">{% csrf_token %}
                    <input type="text" name="status-{{ todo.task_id }}" style="display: none;">
                    <button class="button-toggle d-flex" type="button">
                      <i class='bx bx-circle icon-default'></i>
                      <i class='bx bx-check-circle icon-hover'></i>
                      <i class='bx bxs-check-circle icon-disable'></i>
                    </button>
                  </form>
                </td>
                <td>
                  <span class="{% if todo.status %}text-decoration-line-through{% endif %}" id="todo-title-{{ todo.task_id }}">
                    {{ todo.task_title }}
                  </span>
                </td>
                <td style="width: 10%">
                  <ul class="functions">
                    <li class="function-item">
                      <button class="button-toggle" type="button">
                        <i class='bx bx-star icon-default' aria-label="重要タスク"></i>
                        <i class='bx bxs-star icon-disable'></i>
                      </button>
                    </li>
                    <li class="function-item">
                      <button type="link">
                        <a href="{% url 'todo-edit' task_id=todo.task_id %}">
                          <i class='bx bxs-edit icon-default' aria-label="タスクの編集"></i>
                        </a>
                      </button>
                    </li>
                    <li class="function-item">
                      <form method="post" action="{% url 'todo-delete' task_id=todo.task_id %}">{% csrf_token %}
                        <button type="delete" onclick='return confirm("本当に削除しますか？");'>
                          <i class='bx bxs-trash-alt icon-default icon-danger' aria-label="タスクの削除"></i>
                        </button>
                      </form>
                    </li>
                  </ul>
                </td>
              </tr>
              {% empty %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>
{% endblock main %}

{% block js %}
  <script src="{% static 'js/item.js' %}"></script>
{% endblock js %}