<!DOCTYPE html>
{% load i18n %}
{% load static %}
{% load django_bootstrap5 %}

{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">

  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>
      {% block title %}{% endblock title %}
    </title>
    <link rel="icon" href="{% static 'images/favicon/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/project.css' %}"/>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% block css %}{% endblock css %}
  </head>

  <body>
    <nav>
      <h1>ToDoBot AI</h1>
    </nav>
    <main>
      {% block main %}{% endblock main %}
    </main>
    <footer></footer>
    {% block modal %}{% endblock modal %}
    {% block inline_js %}{% endblock inline_js %}
  </body>

</html>
