<!DOCTYPE html>
{% load i18n %}
{% load static %}
{% load django_bootstrap5 %}

{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">

  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>
      {% block title %}{% endblock title %}
    </title>
    <link rel="icon" href="{% static 'images/favicon/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>

  <body class="vh-100">
    <div class="d-flex flex-column h-100">
      <div class="header-wrapper">
        <header class="header-content d-flex align-items-center justify-content-between bg-primary">
          <div class="header-left">
            <a href="{% url 'todo-main' %}" class="nav-link">
              <h2>ToDoBot AI</h2>
            </a>
          </div>
          <div class="header-center"></div>
          <div class="header-right"></div>
        </header>
      </div>
      <div class="main-wapper container-fluid p-0 flex-grow-1">
        <div class="row h-100 m-0">
          <div class="sidebar-content col-2 p-0">
            <nav class="bg-light h-100">
              <div class="container-fluid p-0">
                <ul class="nav d-flex flex-column">
                  <li class="nav-item">
                    <a class="nav-link text-reset d-flex align-items-center" href="#">
                      <i class='bx bx-check icon-primary'></i>
                      <span>すべてのタスク</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-reset d-flex align-items-center" href="#">
                      <i class='bx bxs-calendar-alt icon-primary'></i>
                      <span>期限付き</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-reset d-flex align-items-center" href="#">
                      <i class='bx bxs-star icon-primary'></i>
                      <span>重要</span>
                    </a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
          <div class="main-content col p-0">
            <main class="d-flex flex-column h-100 mx-5">
              {% block main %}{% endblock main %}
            </main>
          </div>
        </div>
      </div>
      <div class="footer-wrapper">
        <footer class="footer-content d-flex align-items-center justify-content-center bg-primary">
          <span>footer</span>
        </footer>
      </div>
    </div>
    {% block modal %}{% endblock modal %}
    {% block js %}{% endblock js %}
    <script src="{% static 'js/app.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="nomodule" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </body>

</html>
